<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script src="http://use.edgefonts.net/bitter:n4,i4,n7:all;droid-sans:n4,n7:all.js"></script>
    <link href="../static/style.css" rel="stylesheet" type="text/css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="../static/script.js"></script>
    {% endblock %}
</head>
<body>
    <div id="header">
    <div><h1>{ebigiarini}</h1>
    <div class="navbar">
        <ul><li><div class="nav-head about">&#62212;</div><div class="nav-title"><a href="/">Home</a></div></li>
            <li><div class="nav-head blog">&#61696;</div><div class="nav-title"><a href="#">blog</a></div></li>
            <li><div class="nav-head portfolio">&#xf103;</div><div class="nav-title"><a href="#">Corsi</a></div></li>
            <li><div class="nav-head twitter">&#61954;</div><div class="nav-title"><a href="https://www.twitter.com/pulmro">twitter</a></div></li>
        </ul>
    </div></div>
    </div>

    {% block content %}{% endblock %}

    <div id="footer">
    <div class="widgets">

        <div class="widget categories">
            <h2>Corsi</h2>
            <ul>
                {% for category in categories %}
                <li><a href=/course/{{category.id}}>{{category.name}}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="widget search">
            <h2>Search</h2>
            <form method="get" action="/search">
            <input type="text" size="17" value="" name="q"/>
            <input type="submit" value="Search"/>
            </form>
        </div>
        <div class="widget meta">
            <h2>User</h2>

                {% if g.user.is_authenticated %}
            <p>Hi, <em>{{ g.user.nickname }}</em></p>
            <p>
                {% if g.user.is_admin() %}
                <p><a href="{{ url_for('admin') }}">Admin</a></p>
                {% endif %}
                <a href="{{ url_for('logout') }}">Logout</a>
                {% else %}
                <a href="{{ url_for('login') }}">Login</a>
                {% endif %}
            </p>
        </div>
    </div>
    <div class="footer-line">
    <p class="elapsed">Page generated in {{ g.request_time() }} s</p>
    <p class="credits">© 2013 by <a href="mailto:pulmro _at_ gmail _dot_ com">Emanuele Bigiarini</a>. All rights reserved.</p>
    </div>

    </div>
</body>
</html>
