{% extends "base.html" %}
{% block content %}
<div id="content">
    <div id="cover-image"><img src="/uploads/find_x.png"></div>
    <h2> Corsi: </h2>
    {% for course in categories %}
	<article class="post"><a href="course/{{course.id}}">
        <div class="post-thumbnail"><img src='{{course.get_thumbnail_url()}}' alt='{{course.name}}' /></div>
        <div class="course-content">
            <div class="post-title">{{course.name}}</div>
        </div></a>
    </article>
    {% endfor %}
</div>
{% endblock %}
